@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    /* font-family: "Bitter", serif; */
}

.exams>div>p{
    font-weight: bold;
    color: gray;
    cursor: pointer;
    background-color: var(--ternary);
    border-radius: 20px;
    padding: 1rem 0;
}